@import "variables";

.ui-table-caption {
  border: none !important;
  height: 0px !important;
  margin-bottom: -8px;
}

.ui-table-scrollable-body {
  max-height: calc(100vh - 157px) !important;
}


.topbar-searched {
  background: #263759 !important;
}


.ui-tree {
  min-height: 700px;
  background: $results_bck;
  overflow-x: hidden;
/*  width: 750px !important;*/
}

.ui-tree.ui-widget-content {
  background: $results_bck;
  overflow-x: hidden;
}
