/** colors **/

$m_font_clr: #57585A;
$title_color: #464749;
$light_color:#797A7D;
$highlight_color:#008FA0;
$highlight_text: #006389;
$header_bck: #293A5C;
$results_bck:#F6F8F9;
$m_clr: #E6E8E9;
$drop_down:#F6F8F9;
$white: #FFFFFF;
$light_border:#CACFD2;
$med_border:#C4C4C4;
$increment_border:#D7E0E5;
$light_border:#ADADAF;




/** shadows **/

$shadow: 1px 4px 6px rgba(60, 64, 67, 0.16);

//line height
$m_ln_ht:0.9375rem; //15px
$title_line_height: 1.5rem;//25p;

//spacing between letter
$m_letter_spacing: 0.05em;

/** fonts **/
$baseFontSize: 16;
$m_fnt: Roboto;
$m_fnt_sz:0.9375rem; //15px
$title_font:1.3rem; //21px
$fnt_xsm:0.75rem;//12px
$fnt_sm: 0.8125rem; //13px;
$subtitle_font:1.0625rem;//17px;

/** padding **/
$padding-left:7rem;//105 pixels;
$padding-right:8rem;//120 pixels;

h1{
  /* for titles */
  color: $title_color;
  font-size: $title_font;
  line-height: $title_line_height;
}

h2{
  /* for subtitles */
  color: $title_color;
  font-weight: bold;
  font-size:$subtitle_font;
  line-height: 20px;
}

h3{
  /*small text*/
  font-size: $fnt_sm;
}
h4{
  /*very small text*/
  font-size:$fnt_xsm;
  color: $light_color;
}


%card{
  padding:1rem;
  width: 17.7rem;
  height:13rem;
  color:$m_font_clr;
  font-size:$m_fnt_sz;
  background: $white;
  box-shadow: $shadow;
  border-radius: 5px;
  margin:1rem 1rem 1rem 0;
  overflow:hidden;
}

%panel{
  padding:1rem;
  font-size: $m_fnt_sz;
  line-height: 140%;
  width:100%;
  color: #57585A;
  background: $white;
  box-shadow: $shadow;
  border-radius: 5px;
  margin-bottom: .5rem;
}
