@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';
@import 'variables';
@import "autocomplete";
@import "animations";
@import "tree";


html, body {
  height:100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $m_fnt;
  background:$results_bck;
  color: $m_clr;
  font-style: $m_fnt;
  font-weight: normal;
  font-size: $m_fnt_sz;
  line-height: $m_ln_ht;
}

*, ::before, ::after {
  box-sizing: inherit;
}

/* ng material global style */
.loginErrorDialog .mat-dialog-container{
  padding: 0;

}
